<!DOCTYPE html>
<html>
<head>
    <title>Mi Aplicación</title>
    <!-- Puedes incluir aquí enlaces a hojas de estilo, etc. -->
</head>
<body>
    {{{body}}}
    <!-- Aquí se insertará el contenido de tus vistas específicas -->
</body>
</html>
